{%extends "base/main.html"%}

{% load crispy_forms_tags %}

{% block title %} create post {% endblock title%}
{%block content %}

<div class="container">
    <div class="form-group">
<h1 class="text-center text-primary">welcome to this page </h1>

<form action=""  method="POST" enctype="multipart/form-data">
    
    {%csrf_token%}
 
    {{form.media}}

    {{form|crispy }}

<button class="btn btn-primary">Confirm  </button>

<a href="{% url 'home' %}"class="btn btn-dark"> back</a>

</form>
</div>
</div>
{%endblock %}